<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brodheim</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="~/Brodheim.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="topmenu_header" class="topmenu_header">
            <ul id="TopMenu">
                <li class="top_logo-left">
                    <a href="/">
                        <img src="~/Images/brodheim_logo.png" alt="logo" />
                    </a>
                </li>
                <li class="search_wrapper">
                    <div class="search_right_logo">
                        <div class="form_search" id="form_search" style="margin-top: 0px">
                            <form role="search" method="get" class="search_form">
                                <i class="bi bi-search"></i>
                                <input type="text" class="search-field" placeholder="O que deseja procurar..."/>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="perfil_login">
                    <div>
                        <a href="#Login">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar_menu">
            <nav class="navbar navbar-expand-md navbar-dark" role="navigation">
                <div class="navbar_menu_content">
                    <ul class="nav navbar-bar justify-content-between">
                        <li itemscope="itemscope" class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Grupo Brodheim</a>
                        </li>
                        <li itemscope="itemscope" class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Carreiras">Carreiras</a>
                        </li>
                        <li itemscope="itemscope" class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Oportunidades">Oportunidades</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid">  
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <!-- First column -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">HomePage</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/" class="text-dark">Destaques</a>
                        </li>
                        <li>
                            <a href="#QuemSomos" class="text-dark">Quem Somos</a>
                        </li>
                        <li>
                            <a href="#testimonial-slider" class="text-dark">Testemunhos</a>
                        </li>
                        <li>
                            <a href="#Brands" class="text-dark">Marcas</a>
                        </li>
                    </ul>
                </div>

                <!-- Second column -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Carreiras</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Candidatura Online</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Pré Seleção / Triagem</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Apreciação Global</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Decisão</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Oferta de Emprego</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Integração</a>
                        </li>
                    </ul>
                </div>

                <!-- Third column -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Oportunidades</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Ofertas de Emprego</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
